<div class="mb-2">
    <button class="btn btn-primary" (click)="refresh(true)">Reload flights</button>
</div>

<div class="mb-2">


    <div *ngIf="flights | async; else loading">


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Arrival</th>
                    <th scope="col" title="Off Blocks Time">OBT</th>
                    <th scope="col" title="In Blocks Time">IBT</th>
                    <th scope="col">Actual Flight time</th>
                    <th scope="col" title="Persons approximately">PAX</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flights | async | slice:0:10; let ind=index;">
                    <td>
                        {{ flight.aircraft.registration}} <div *ngIf="flight.aircraft.variant">
                            <small>{{ flight.aircraft.variant.label}}</small></div>
                    </td>
                    <td>

                        {{flight.departure.label}}

                    </td>
                    <td>
                        {{flight.arrival.label}}

                    </td>
                    <td>
                        {{flight.ibt}}
                    </td>
                    <td>
                        {{flight.obt}}
                    </td>
                    <td>
                        {{flight.actual_flight_time}}
                    </td>
                    <td>
                        {{ flight.pax }}
                    </td>
                    <td>
                        <a routerLink="/flight/{{flight.id}}">
                            Detail
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #loading>
        <div *ngIf="!error" class="alert alert-info">
            <div>Flights loading...</div>
        </div>

        <div *ngIf="error" class="alert alert-danger">
            <div><strong>Error loading flights:</strong> {{error }}</div>
        </div>
    </ng-template>
</div>